$ruleway: 'Ruleway', 'Times New Roman', Times, serif;
$cormorant: 'Cormorant Infant', 'Times New Roman', Times, serif;

.cards {
  max-width: 1284px;
  margin: 100px auto 0 auto;
  box-sizing: border-box;
  position: relative;

  &__list {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 64px 1fr 1fr 64px;
    justify-content: space-between;
    box-sizing: border-box;
  }

  &__list-item {
    position: relative;
    z-index: 110;
    padding: 54px 0 54px 62px;
    box-sizing: border-box;
    max-width: 570px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: flex-end;
    margin-right: 43px;
    
    &:last-of-type {
      margin-right: 0;
    }

    &_color_pink {
      background-color: #FFEDCD;
    }

    &_color_grey {
      background-color: #E2F0DF;
    }
  }

  &__article {
    max-width: 182px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    margin: 0;
    padding: 0;
    font-family: $cormorant;
    font-size: 40px;
    line-height: 48px;
    font-weight: bold;
    color: #195557;
  }

  &__description {
    margin: 17px 0 0 0;
    padding: 0;
    font-family: $ruleway;
    font-size: 14px;
    line-height: 22px;
    color: black;
  }

  &__old-price {
    margin: 7px 0 0 0;
    padding: 0;
    font-weight: bold;
    font-family: $cormorant;
    font-size: 20px;
    line-height: 24px;
    text-decoration-line: line-through;
    color: #C2CCCA;
  }

  &__actual-price {
    margin: 0;
    padding: 0;
    font-family: $cormorant;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    color: #195557;
  }

  &__image {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 300px;
    border: 1px solid red;
    box-sizing: border-box;
    align-self: center;
    object-fit: cover;
    object-position: center;
  }

  &__discount {
    position: absolute;
    top: -30px;
    left: 60px;
    width: 68px;
    height: 36px;
    background-color: #70908B;
    font-family: $ruleway;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }

  &__attention {
    position: absolute;
    top: 19px;
    right: 28px;
    background-image: url(../../images/attention.svg);
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    width: 37px;
    height: 37px;
    border: none;
  }

  &__add {
    width: 80px;
    height: 80px;
    background-color: #fff;
    border: none;
    position: absolute;
    bottom: -1px;
    right: -1px;
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
    background-image: url(../../images/plus.svg);
    background-repeat: no-repeat;
    background-position-x: 80%;
    background-position-y: 90%;
  }

  &__arrow {
    margin: 0 auto;
    padding: 0;
    width: 24px;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    &_type_left {
      background-image: url(../../images/arrow-left.svg);
    }

    &_type_right {
      background-image: url(../../images/arrow-right.svg);
    }
  }

}