.logo {
  margin: 0;
  padding: 0;  
  background-image: url(../../images/logo.svg);

  &_place_header {
    width: 120px;
    height: 56px;
    display: block;
  }
}

@media (max-width: 480px) {

  .logo {
    background-size: cover;
    &_place_header {
      text-align: right;
      max-width: 56px;
      max-height: 26px;
    }
  }

  
}