.logo {
  margin: 0;
  padding: 0;  
  width: 120px;
  height: 56px;

  &_place {
    &_header {
      background-image: url(../../images/logo.svg);
      display: block;
    } 
    &_footer {
      background-image: url(../../images/logo2.svg);
      display: block;
    }
  }
  
}

@media (max-width: 480px) {

  .logo {
    background-size: cover;
    &_place_header {
      text-align: right;
      max-width: 56px;
      max-height: 26px;
    }
  }

  
}