.logo {
  margin: 0;
  padding: 0;  
  border: 1px solid red;
  background-image: url(../../images/logo.svg);

  &_place_header {
    width: 120px;
    height: 56px;
    display: block;
  }
}

@media (max-width: 768px) {
  .logo_place_header {
    
  }
}