$ruleway: 'Ruleway', 'Times New Roman', Times, serif;
$cormorant: 'Cormorant Infant', 'Times New Roman', Times, serif;

.header {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 30px 60px 0 60px;
  background-color: #EAEEEF;
  position: relative;
  background: radial-gradient(at left top, rgba(180, 197, 194, 0.83) 0%, rgba(224, 225, 225, 0) 100%),
  radial-gradient(at bottom right, rgba(255, 238, 206, 0.49) 0%, rgba(196, 196, 196, 0) 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  &__top {
    box-sizing: border-box;
    display: flex;
    align-items: center;
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 243px;
  }

  &__logo-wrap {
    min-width: 120px;
    margin-right: 20px;
    width: 100%;
    flex-shrink: 1.2;
  }

  &__mobile-menu-button {
    display: none;
    transition: opacity .2s ease;
    &:hover {
      opacity: .6;
    }
  }

  &__title {
    margin: 0 auto;
    margin-top: 173px;
    width: 443px;
    height: 94px;
    font-size: 100px;
    background-image: url(../../images/title.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__subtitle {
    font-family: $cormorant;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 50px;
    line-height: 61px;
    text-transform: uppercase;
    margin-top: 19px;
    color: #70908B;
  }

  &__subsubtitle {
    margin: 0;
    padding: 0;
    font-family: $ruleway;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #70908B;
  }
}

@media (max-width: 1440px) {
  .header {
    padding: 30px 40px 0 40px;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 20px 20px 0 20px;
    
    &__top {
      display: grid;
      grid-template-columns: 25px auto 35px 30px;
      column-gap: 13px; 
    }

    &__logo-wrap {
      display: flex;
      justify-content: flex-end;
      max-width: 120px;
      margin: 0 auto;
    }

    &__mobile-menu-button {
      display: block;
      background-color: none;
      width: 25px;
      height: 25px;
      background: url(../../images/menu-button.svg) no-repeat center;
      background-size: contain;
      border: none;
    }

    &__header {
      margin: 0;
    }

    &__bottom {
      padding-bottom: 100px;
      justify-content: flex-start;
      align-content: flex-start;
    }

    &__title {
      margin-top: 90px;
      width: 250px;

    }

    &__subtitle {
      font-size: 30px;
      margin: 0;
    }
  }
}

@media (max-width: 480px) {
  .header {
    &__bottom {
      justify-content: flex-start;
    }

    &__title {
      margin: 32px 0 0 0;
      width: 202px;
      height: 44px;
    }

    &__subtitle {
      text-align: left;
      font-size: 24px;
      line-height: 29px;
      margin-top: 12px;
    }

    &__subsubtitle {
      text-align: left;
      font-size: 12px;
      margin-top: 7px;
    }
  }
}