.header {
  border: 1px solid red;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 30px 30px 0 30px;
  background-color: #EAEEEF;

  &__top {
    border: 1px solid blue;
    box-sizing: border-box;
    display: flex;
    align-items: center;
  }

  &__logo-wrap {
    min-width: 120px;
    margin-right: 20px;
    width: 100%;
    border: 1px solid green;
    flex-shrink: 1.2;
  }

  &__mobile-menu-button {
    display: none;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 10px 10px 0 10px;
    
    &__top {
      display: grid;
      grid-template-columns: 25px auto 35px 30px;
      column-gap: 13px;
      border: 1px solid blue;
      
    }

    &__logo-wrap {
      max-width: 120px;
      margin: 0 auto;
    }

    &__mobile-menu-button {
      display: block;
      background-color: none;
      border: 1px solid red;
      width: 25px;
      height: 25px;
    }
  }
}